:root {
  --brown: #5C472F;
  --white: #fff;
  --black: #000;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.App-header {
  align-items: center;
  background-color: #fff;
  color: black;
  font-size: inherit;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.image-logo {
  height: auto;
  width: 6%;
}

.form-control {
  border: 1px solid var(--black);
}

.filter {
  width: 40%
}

form {
  padding-left: 20px;
}

.list-group-div {
  padding: 2em;
}


.list-group-item {
  background-color: var(--brown);
  color: var(--white)
}

.list-group-item {
  border-radius: 5px;
  margin-bottom: 5px;
}

.modal-dialog {
  width: 475px;
}

.nav-link {
  color: var(--brown);
}

.main-center {
  padding: 0 20rem;
}


@media screen and (max-width: 992px) {

  .main-center {
    padding: 1em;
  }

  .filter {
    width: 100%;
  }

  img {
    width: 20%;
  }
}